{% extends 'base.html.twig' %}

{% block title %}TicketStatuses index{% endblock %}

{% block body %}
    <h1>TicketStatuses index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>StatusName</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ticket_status in ticket_statuses %}
            <tr>
                <td>{{ ticket_status.id }}</td>
                <td>{{ ticket_status.statusName }}</td>
                <td>
                    <a href="{{ path('app_ticket_statuses_show', {'id': ticket_status.id}) }}">show</a>
                    <a href="{{ path('app_ticket_statuses_edit', {'id': ticket_status.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_ticket_statuses_new') }}">Create new</a>
{% endblock %}
